/**
 *	CSS Document - Main
 *	author:	ondrej.frinta(@)gmail.com
 */

// VARS
@c0: #252c2e; // dark cyan-grey (text)
@c1: #2EBCEA; // cyan
@c2: #232323; // grey

@f0: "Museo Sans@", "Open Sans", sans-serif;

/* BASE ---------------------------------------------------------------------------------------- */
html, body {
	height: 100%;
}
body {
	font-family: @f0;
	font-size:16px;
	font-weight: 300;
	color:@c0;
	background:#fff;
	text-align:center;
	min-height: 100%;
}

#container {
	position:relative;
	height: 100%;
    min-width: 280px;
	min-height: 450px;
}
.pageHeader,
.pageContent,
.pageFooter {
	position:relative;
}
.pageBlock {
	position:relative;
	margin:0 auto;
	max-width: 960px;

	@media screen and (max-width: 960px) {
		margin: 0 4%;
		background: rgba(0,0,0,0.2);

		&.vertCell {
			width: 92%;
		}
	}
}
/* TAGS ---------------------------------------------------------------------------------------- */
h1 {
	font-size: 175%;
	font-weight: 500;
}

h2 {
	font-size: 200%;
	font-weight: 700;
}

a {
	color: @c2;
	&:hover {
		color: @c1;
	}
}

hr {
    border-color: #ccc;
    background-color: #ccc;
}

textarea,
input[type=text],
input[type=email],
input[type=password],
button,
select {
	font-family: @f0;
	font-size: 100%;
}


/* CLASSES ------------------------------------------------------------------------------------- */
// BUTTONS
a.btn {
	color: #fff;
}
.btn {
	display: inline-block;
	padding: 0.5em 1.2em 0.65em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	border: 0;
	outline: none;
	background: @c1;
	transition: background 200ms;
	border-radius: 4px;

	&:hover {
		background: #59cdf2;
	}
	&:active {
		transition: none;
		background: #0090be;
	}
}

// TEXT CONTENT
.textContent {
	font-size: 100%;

	.perex {
		font-size: 112.5%;
	}
	h2 {
		font-size: 160%;
		margin: 1em 0 .5em;
	}
	h3 {
		font-size: 120%;
		margin: 1.1em 0 .6em;
	}
	h4 {
		font-size: 105%;
		margin: 1.2em 0 .5em;
	}
	h5, h6 {
		font-size: 100%;
	}

	ul, ol {
		margin: 1em 0 1em 2em;
	}
}

// Vertical align
.vertCell {
	display: table;
    width: 100%;
    height: 100%;
    position: relative;
    vertical-align: middle;

	&>.vertCellContent {
		display: table-cell;
    	vertical-align: middle;
	}
}

/* HEADER -------------------------------------------------------------------------------------- */
.pageHeader {
	z-index: 5;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 70px;
	background: fade(#141414, 70%);

	&.fixed {
		position: fixed;
		left: 0;
		top: 0;
		bottom: auto;
		height: 64px;
		background: fade(#222, 95%);
	}

	&>.pageBlock {
		height: 100%;
	}
}

/* Logotype */
.menuLogotype {
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	margin-top: -17px;
	background: url(../images/posli-small.png) 0 0 no-repeat;
	overflow: hidden;
	text-indent: 100px;
	opacity: 0;
}


/* Main nav */
.navMain {
	position: absolute;
	top: 0;
	right: 50%;
	font-size: 94%;white-space: nowrap;

    ul {
		position: relative;
		list-style: none;
		width: 100%;
		margin-left: 50%;
	}
	li {
		display: inline-block;
		margin: 5px 10px 0;
	}
	a {
		display: block;
		color: #fff;
		font-weight: 500;
		height: 60px;
		line-height: 60px;
		vertical-align: middle;
		padding: 0 22px;
		text-decoration: none;

		&:hover,
		&.active {
			border-bottom: 5px solid @c1;
		}
	}
}

// FIXED header
.pageHeader {
	&.fixed {
		.navMain {
			right: 0;
			ul {
				margin-left: 0;
			}
			a {
				height: 55px;
				line-height: 55px;
				border-bottom-width: 4px;
			}
		}
		.menuLogotype {
			width: 93px;
			height: 35px;
			opacity: 1;
			&:hover {
				opacity: 0.8;
			}
		}
	}
	// enabled animations
	&.animate {
		.menuLogotype {
			transition: opacity 500ms;
		}
		.navMain {
			transition: right 350ms;
		}
		ul {
			transition: margin-left 350ms;
		}
	}
}




/* CONTENT ------------------------------------------------------------------------------------- */

// Request form
.requestFormHolder {
	position: relative;
	height: 50px;
}
.requestForm {
	position: relative;
	max-width:465px;
	height: 50px;
	margin: 0 auto;

	label {
		color: #8d9ea4;
		display: block;
		position: absolute;
		left: 22px;
		top: 15px;
		height: 20px;
		line-height: 20px;
		z-index: 3;
	}

	input {
		position: relative;
		float: left;
		color: #8d9ea4;
		width: 285px;
		padding: 14px 21px;
		height: 20px;
		line-height: 20px;
		border-color: #fff;
		border-radius: 4px 0 0 4px;
		z-index: 2;

		&:focus {
			color: #414647;
		}
		&.invalid {
			color: #dc0808;
		}

	}
	.btn {
		float: right;
		width: 136px;
		height: 50px;
		border-radius: 0 4px 4px 0;
	}
}
.requestFormSent {
	position: relative;

	.msg {
		font-weight: 500;
		margin-bottom: 0.75em;
	}
	.btn {
		font-size: 87.5%;
		padding: 0;
		width: 168px;
		line-height: 40px;
		vertical-align: middle;
		text-align: center;
		margin: 0 3px;

		&.fb {
			background: #3563e7;
			&:hover {
				background: lighten(#3563e7, 3%);
			}
		}
		&.tw {
			background: #25b3f3;
			&:hover {
				background: lighten(#25b3f3, 6%);
			}
		}
	}
}

// SECTIONS
.pgSection {
	position: relative;
}


// page TOP
.pgSectionTop {
	height: 100%;
	color: #fff;
	background: #6f7273 url('../images/bg.jpg') center top no-repeat;
	background-size: cover;

	.pgLogotype {
		display: inline-block;
		height:135px;
		margin: 0 auto;

		&>img {
			height: 100%;
		}
	}
	h1 {
		max-width: 490px;
		margin: 0.4em auto 0.8em;

		@media screen and (max-width:600px) {
			margin: inherit 5%;
		}
	}
	.vertCellContent {
		padding-bottom: 80px;
	}
}

// page SIGN UP
.pgSectionSignUp {
	color: #fff;
	background: #243139;
	padding: 115px 0 75px;

	a {
		color: #fff;
	}

	h2 {
		margin: 0 0 1em;
	}
	.text {
		font-size: 112.5%;
		max-width: 620px;
		margin: 0 auto;
		margin-bottom: 3em;
	}
	.requestFormHolder {
		margin-bottom: 35px;
		&.complete {
			margin-bottom: 50px;
		}
	}
	.requestFormSent {
		top: -8px;
	}

	.socialBtns {
		font-size:118%;

		ul {
			list-style: none;
			display: inline-block;
			vertical-align: middle;
			height: 48px;
			margin-left: 8px;
		}
		li {
			display: inline-block;
			margin: 0 4px;
		}

		a {
			display: block;
			width: 46px;
			height: 46px;
			text-indent: 500px;
			overflow: hidden;
			border: 1px solid #fff;
			border-radius: 50%;
			background: url(../images/sprite-social.png) 0 0 no-repeat;
			&:hover {
				background-color: #fff;
			}
			&.fb {
				background-position: 0 0;
				&:hover {
					background-position: 0 -46px;
				}
			}
			&.tw {
				background-position: -46px 0;
				&:hover {
					background-position: -46px -46px;
				}
			}
		}
	}
}





/* FOOTER -------------------------------------------------------------------------------------- */
.pageFooter {
    color: #fff;
	background: @c1;

    a {
        color: #fff;
    }
    padding: 0 20px;
}

