<p class="msg">You’ve signed up, we love you for that! Tell your friends about it.</p>
<p>
	<a class="btn fb" href="http://www.facebook.com">Share on Facebook</a>
	<a class="btn tw" href="http://www.twitter.com">Share on Twitter</a>
</p>
